.tickets{
    margin-top: 0;
}
.ticket{
    @extend %cover;
    margin-bottom: $grid-gutter;

    @include hover-focus-active{
        box-shadow: 0px 5px 25px rgba(#5B89A4, .10),
        0px 10px 50px -10px rgba(#5B89A4, .25);
    }
    &__action{
        padding-top:  25px;
        padding-bottom: 25px;
        border-top: 1px solid #ECEFF1;

        order: 1;

        @include media-breakpoint-up(md){
            order: 0;
            border-top: none;
            border-right: 1px solid #ECEFF1;
        }
    }
    &__info{
        padding-top: 20px;
        padding-bottom: 20px;

        order: 0;

        @include media-breakpoint-up(md) {
            order: 1;
        }

        &__time{
            font-size: 32px;
            line-height: normal;
        }
        &__name{
            font-size: 12px;
            font-weight: bold;
        }
        &__date{
            font-size: 12px;
            color: #8B9497;
        }
        &__line{
            height: 1px;
            background-color: #D2D5D6;
            width: 60%;
            margin-right: 1px;
            @include media-breakpoint-up(xl){
                width: 96px;
            }
        }
        &__stops{
            font-size: 10px;
            font-weight: bold;
            color: #8B9497;
            text-transform: uppercase;
            line-height: 11px;
        }
    }
    &__carrier{
        padding-bottom: $grid-gutter;
        img{
            width: auto;
            height: 30px;
            @include media-breakpoint-up(xl){
                height: 35px;
            }
        }

        > span {
            outline: 1px solid #eee;
            width: 120px;
            height: 35px;

            text-align: center;
            line-height: 35px;

        }
    }
}