@mixin make-grid($columns: $grid-columns, $gutter: $grid-gutter, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);
        @for $i from 1 through $columns {
            .col#{$infix}-#{$i} {
                @extend %flex;
                @extend %col;
            }
        }
        .col#{$infix},
        .col#{$infix}-auto {
            @extend %flex;
            @extend %col;
        }
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            $min: breakpoint-min($breakpoint, $breakpoints);
            @if $min {
                .col#{$infix}-hide { display: none !important; }
                .col#{$infix}-show { display: flex !important; }
                .#{$breakpoint}-hide { display: none !important; }
                .#{$breakpoint}-show { display: flex !important; }
                .#{$breakpoint}-column { @include column(); }
                .#{$breakpoint}-row { @include row(); }
                .#{$breakpoint}-compans {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            } @else{
                .col#{$infix}-hide { display: none; }
                .col#{$infix}-show { display: flex; }
                .#{$breakpoint}-hide { display: none; }
                .#{$breakpoint}-show { display: flex; }
                .column { @include column(); }
                .row { @include row(); }
                .#{$breakpoint}-compans {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

        }

        @include media-breakpoint-up($breakpoint, $breakpoints) {
            // Provide basic `.col-{bp}` classes for equal-width flexbox columns
            .col#{$infix} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
            .col#{$infix}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: 100%; // Reset earlier grid tiers
            }
            @for $i from 1 through $columns {
                .col#{$infix}-#{$i} {
                    @include make-col($i, $columns);
                }
            }
            .order#{$infix}-first {
                order: -1;
            }
            .order#{$infix}-last {
                order: $columns + 1;
            }
            @for $i from 0 through $columns {
                .order#{$infix}-#{$i} {
                    order: $i;
                }
            } // `$columns - 1` because offsetting by the width of an entire row isn't possible
            @for $i from 0 through ($columns - 1) {
                @if not ($infix=="" and $i==0) {
                    // Avoid emitting useless .offset-0
                    .offset#{$infix}-#{$i} {
                        @include make-col-offset($i, $columns);
                    }
                }
            }
        }
    }
}