.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    font-family: $btn-font-family;
    font-size: rem(14);
    line-height: normal;
    text-decoration: none;
    text-align: center;
    height: $btn-height;
    padding: $btn-padding;
    border-radius: $btn-b-radius;
    border: $btn-border;
    box-shadow: 0px 1px 0px 0px #D64D08,
    0px 2px 1px 0px rgba(#000000, .1);
    i {
        font-size: 0.88em;
    } 

    @include hover-focus-active{
        cursor: pointer;
    }
    @include media-breakpoint-up(xl){
        font-size: $btn-font-size;
    }
}

@mixin btn_colors(
    $textColor: $white,
    $faColor: $white,
    $bgColor: $color-prime,
    $borderColor: transparent,
    $borderSize: 2px,
    $borderType: solid,

    $textColorHover: lighten($textColor, 20%),
    $faColorHover: #fff,
    $bgColorHover: lighten($bgColor, 10%),
    $borderColorHover: transparent,

    $textColorActive: $textColor,
    $bgColorActive: $bgColor,
    $borderColorActive: $bgColor
) {
    color: $textColor;
    background-color: $bgColor;
    border: $borderSize $borderType $borderColor;
    i.fa, svg {
        // color: $faColor;
        // transition-duration: 0.1s
        path{
            fill: $faColor;
        }
    }
    &:link,
    &:visited {
        // color: $white;
    }
    &:hover,
    &:focus, &.active {
        color: $textColorHover;
        background-color: $bgColorHover;
        border: $borderSize $borderType $borderColorHover;
        svg path{ fill: $textColorHover; }
    }
    &:active {
        color: $textColorActive;
        background-color: $bgColorActive;
        border: $borderSize $borderType $borderColorActive;
        svg path{ fill: $textColorActive; }
    }
}

.btn_second{
	@include btn_colors(
		$textColor:#fff,
		$bgColor:$color-second,
		$borderColor:$color-second,
		$faColor:#fff,

		$textColorHover: #fff,
		$bgColorHover:  #FF8124,
		$borderColorHover: transparent,

		$textColorActive: #fff,
		$bgColorActive: transparentize($color-second, 0.2),
		$borderColorActive: transparentize($color-second, 0.2)
    );
    @include hover-focus-active{
        box-shadow: 0px 1px 0px 0px #D64D08,
        0px 1px 5px 0px rgba(#000000, .1);
    }
}