$fontPath: "assets/fonts/";

@font-face {
    font-family: 'OpenSans';
    src: url($fontPath+'Open_Sans/OpenSans-Regular.woff2') format('woff2');
    // src: url($fontPath+'Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSamiBold';
    src: url($fontPath+'Open_Sans/OpenSans-SemiBold.woff2') format('woff2');
    // src: url($fontPath+'Open_Sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url($fontPath+'Open_Sans/OpenSans-Italic.woff2') format('woff2');
    // src: url($fontPath+'Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}