form, .form{
    padding-top: 0.3em;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 0;
	>p {
	    color: $color-prime;
	    text-align: center;
	}
}

fieldset, .fieldset, .group {
	border: none;
    padding: 0.35em 0.75em 0.35em;
	margin: 0;
	// padding-top: 0;
    // padding-bottom: 5px;
}
.group_boolean, .fieldset_boolean {
    margin-bottom: 1.125em !important;
}

legend, .legend {
    // padding-top: 10px;
    @extend %flex;
    
    font-family: $OpenSans;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
    
    margin-left: 15px;
    margin-bottom: 6px;

    text-transform: uppercase;
}

label {
    @extend %flex;
    // margin-bottom: 1rem;
    
    font-family: $headings-font-family;
    font-size: 1em;
    color: $headings-color;

}

.field {
    @extend %flex;
    position: relative;
    // margin-bottom: 1.3em;
    align-items: stretch;
    flex-direction: row;

    &__item{
        @extend %flex;
        width: 100%;
        padding: 10px $grid-gutter/2 8px $grid-gutter/2;
        border: 2px solid $color-gray-3;
        border-radius: 5px;

        font-family: $OpenSans;
        color: $color-gray-4;

        option:disabled{
            cursor: not-allowed;
            font-family: $OpenSansSamiBold;
            color: $color-gray-6;
		}
    }
 
    .select{
        position: relative;

        select{ 
            appearance: none;
            position: relative;

            color: $color-gray-6;

            option{
                color: $color-gray-6;
                background-color: #fff;
                &:first-child{
                    color: $color-gray-4;
                }
            }
        }
        &__arrow{
            position: absolute;
            right: 13px;
            top: 11px;

            color: $color-gray-5;
        }

        @include hover-focus-active{
            select{
                background-color: $color-gray-1;
            }
            &__arrow {
                color: $color-gray-3;
            }
        }
    }

    &__number {
        // align-items: stretch;
        flex-direction: row;
        align-items: stretch;

        input {
            width: 3.75rem;
            margin-left: 4px;
            margin-right: 4px;
            text-align: center;

            -moz-appearance: textfield;
            appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                display: none;
                appearance: none;
                margin: 0;
            }
        }

        button,
        .btn {
            padding-left: .9rem;
            padding-right: .9rem;

            svg {
                font-size: 12px;
                color: $color-gray-4;
            }
        }
    }

	&__error-text {
	    display: none;
	    font-family: $OpenSansItalic;
        color: $color-danger;
        margin-top: 5px;
	}

	&__checkbox {
        align-items: center;
	    label {
            font-family: $OpenSansItalic;
            font-size: $font-size-base;
	        margin-bottom: 0;
	        padding-left: 5px;
	    }
	}
} 

// Number

input[type="number"] {
    // width: 3.75rem;
    // margin-left: 4px;
    // margin-right: 4px;
    // text-align: center;

    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
        appearance: none;
        margin: 0;
    }
}


// Boolean

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"]+label, input[type="radio"]+label {
    $root: &;
    flex-grow: 1;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 15px;
    padding-right: 15px;

    font-family: $OpenSans;
    font-size: 13px;
    color: $color-gray-6;

    cursor: pointer;
    user-select: none;

    align-items: center;

    &:hover{
        background-color: #F1FCFF;
    }
}

// input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"]+label:before {
    @extend %flex;
    content: '';
    text-align: center;
    text-align: center;
    justify-content: center;
    font-family: $ff-fa;
    font-weight: 900;

    font-size: 0.65em;
    line-height: 19px;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    
    margin-right: .5rem;
    background-color: transparent;

    border: 1px solid #D2D5D6;

    transition: all .3;
}

input[type="checkbox"]:checked+label:before{
    // content: '\f00c';
    content: '\f00c';
    color: $color-prime;
    background-color: $color-prime-1;
    border-color: $color-prime;
    
}

//RADIO

input[type="radio"]+label{
    font-family: $OpenSansSamiBold;
    font-size: 12px;
    color: $color-prime;

    width: 100%;
    border: 1px solid #D2D5D6;
    text-align: center;

    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:hover {
        background-color: #F2FCFF;
        border-color: $color-prime;
        z-index: 100;
    }
    span{
        width: 100%;
        text-align: center;
    }
}
.radio:first-child {
    label {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: -1px;
    }
}
.radio:last-child {
    label {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -1px;
    }
}

input[type="radio"]+label:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.radio-groupe{
    padding-left: 15px;
    padding-right: 15px;
    
}
input[type="radio"]:checked+label {
    color: #fff;
    background-color: $color-prime;
    border-color: $color-prime;
    z-index: 101;
}