.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24, .col-xl,
.col-xl-auto, legend, .legend, label, .field, .field__item, input[type="checkbox"] + label:before, .loading, .checkbox__only-btn {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex: 0 1 auto; }

.cover, .cont, .cont-fluid {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
  flex: 1 0 auto; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: flex-start;
  align-items: flex-start; }

.cover {
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 0;
  flex-grow: unset; }

.cont {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-grow: unset; }
  @media (min-width: 332px) {
    .cont {
      max-width: 320px; } }
  @media (min-width: 576px) {
    .cont {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .cont {
      max-width: 720px; } }
  @media (min-width: 1056px) {
    .cont {
      max-width: 1024px; } }

.cont-fluid {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start; }

.col-hide {
  display: none; }

.col-show {
  display: flex; }

.xs-hide {
  display: none; }

.xs-show {
  display: flex; }

.column {
  flex-direction: column;
  flex-basis: auto !important; }
  .column > [class*="col"],
  .column > [class*="col-"] {
    flex-basis: auto; }

.row {
  flex-direction: row;
  flex-basis: auto !important; }

.xs-compans {
  padding-left: 0;
  padding-right: 0; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 4.16667%;
  max-width: 4.16667%;
  width: 4.16667%; }

.col-2 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  width: 8.33333%; }

.col-3 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
  width: 12.5%; }

.col-4 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  width: 16.66667%; }

.col-5 {
  flex: 0 0 20.83333%;
  max-width: 20.83333%;
  width: 20.83333%; }

.col-6 {
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%; }

.col-7 {
  flex: 0 0 29.16667%;
  max-width: 29.16667%;
  width: 29.16667%; }

.col-8 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  width: 33.33333%; }

.col-9 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
  width: 37.5%; }

.col-10 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  width: 41.66667%; }

.col-11 {
  flex: 0 0 45.83333%;
  max-width: 45.83333%;
  width: 45.83333%; }

.col-12 {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%; }

.col-13 {
  flex: 0 0 54.16667%;
  max-width: 54.16667%;
  width: 54.16667%; }

.col-14 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  width: 58.33333%; }

.col-15 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
  width: 62.5%; }

.col-16 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  width: 66.66667%; }

.col-17 {
  flex: 0 0 70.83333%;
  max-width: 70.83333%;
  width: 70.83333%; }

.col-18 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 75%; }

.col-19 {
  flex: 0 0 79.16667%;
  max-width: 79.16667%;
  width: 79.16667%; }

.col-20 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  width: 83.33333%; }

.col-21 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
  width: 87.5%; }

.col-22 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  width: 91.66667%; }

.col-23 {
  flex: 0 0 95.83333%;
  max-width: 95.83333%;
  width: 95.83333%; }

.col-24 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 25; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.order-13 {
  order: 13; }

.order-14 {
  order: 14; }

.order-15 {
  order: 15; }

.order-16 {
  order: 16; }

.order-17 {
  order: 17; }

.order-18 {
  order: 18; }

.order-19 {
  order: 19; }

.order-20 {
  order: 20; }

.order-21 {
  order: 21; }

.order-22 {
  order: 22; }

.order-23 {
  order: 23; }

.order-24 {
  order: 24; }

.offset-1 {
  margin-left: 4.16667%; }

.offset-2 {
  margin-left: 8.33333%; }

.offset-3 {
  margin-left: 12.5%; }

.offset-4 {
  margin-left: 16.66667%; }

.offset-5 {
  margin-left: 20.83333%; }

.offset-6 {
  margin-left: 25%; }

.offset-7 {
  margin-left: 29.16667%; }

.offset-8 {
  margin-left: 33.33333%; }

.offset-9 {
  margin-left: 37.5%; }

.offset-10 {
  margin-left: 41.66667%; }

.offset-11 {
  margin-left: 45.83333%; }

.offset-12 {
  margin-left: 50%; }

.offset-13 {
  margin-left: 54.16667%; }

.offset-14 {
  margin-left: 58.33333%; }

.offset-15 {
  margin-left: 62.5%; }

.offset-16 {
  margin-left: 66.66667%; }

.offset-17 {
  margin-left: 70.83333%; }

.offset-18 {
  margin-left: 75%; }

.offset-19 {
  margin-left: 79.16667%; }

.offset-20 {
  margin-left: 83.33333%; }

.offset-21 {
  margin-left: 87.5%; }

.offset-22 {
  margin-left: 91.66667%; }

.offset-23 {
  margin-left: 95.83333%; }

@media (min-width: 332px) {
  .col-sm-hide {
    display: none !important; }
  .col-sm-show {
    display: flex !important; }
  .sm-hide {
    display: none !important; }
  .sm-show {
    display: flex !important; }
  .sm-column {
    flex-direction: column;
    flex-basis: auto !important; }
    .sm-column > [class*="col"],
    .sm-column > [class*="col-"] {
      flex-basis: auto; }
  .sm-row {
    flex-direction: row;
    flex-basis: auto !important; }
  .sm-compans {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (min-width: 332px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    flex: 0 0 4.16667%;
    max-width: 4.16667%;
    width: 4.16667%; }
  .col-sm-2 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-sm-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    width: 12.5%; }
  .col-sm-4 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-sm-5 {
    flex: 0 0 20.83333%;
    max-width: 20.83333%;
    width: 20.83333%; }
  .col-sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%; }
  .col-sm-7 {
    flex: 0 0 29.16667%;
    max-width: 29.16667%;
    width: 29.16667%; }
  .col-sm-8 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-sm-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
    width: 37.5%; }
  .col-sm-10 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-sm-11 {
    flex: 0 0 45.83333%;
    max-width: 45.83333%;
    width: 45.83333%; }
  .col-sm-12 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
  .col-sm-13 {
    flex: 0 0 54.16667%;
    max-width: 54.16667%;
    width: 54.16667%; }
  .col-sm-14 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-sm-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
    width: 62.5%; }
  .col-sm-16 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-sm-17 {
    flex: 0 0 70.83333%;
    max-width: 70.83333%;
    width: 70.83333%; }
  .col-sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%; }
  .col-sm-19 {
    flex: 0 0 79.16667%;
    max-width: 79.16667%;
    width: 79.16667%; }
  .col-sm-20 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-sm-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
    width: 87.5%; }
  .col-sm-22 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-sm-23 {
    flex: 0 0 95.83333%;
    max-width: 95.83333%;
    width: 95.83333%; }
  .col-sm-24 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 25; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .order-sm-13 {
    order: 13; }
  .order-sm-14 {
    order: 14; }
  .order-sm-15 {
    order: 15; }
  .order-sm-16 {
    order: 16; }
  .order-sm-17 {
    order: 17; }
  .order-sm-18 {
    order: 18; }
  .order-sm-19 {
    order: 19; }
  .order-sm-20 {
    order: 20; }
  .order-sm-21 {
    order: 21; }
  .order-sm-22 {
    order: 22; }
  .order-sm-23 {
    order: 23; }
  .order-sm-24 {
    order: 24; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 4.16667%; }
  .offset-sm-2 {
    margin-left: 8.33333%; }
  .offset-sm-3 {
    margin-left: 12.5%; }
  .offset-sm-4 {
    margin-left: 16.66667%; }
  .offset-sm-5 {
    margin-left: 20.83333%; }
  .offset-sm-6 {
    margin-left: 25%; }
  .offset-sm-7 {
    margin-left: 29.16667%; }
  .offset-sm-8 {
    margin-left: 33.33333%; }
  .offset-sm-9 {
    margin-left: 37.5%; }
  .offset-sm-10 {
    margin-left: 41.66667%; }
  .offset-sm-11 {
    margin-left: 45.83333%; }
  .offset-sm-12 {
    margin-left: 50%; }
  .offset-sm-13 {
    margin-left: 54.16667%; }
  .offset-sm-14 {
    margin-left: 58.33333%; }
  .offset-sm-15 {
    margin-left: 62.5%; }
  .offset-sm-16 {
    margin-left: 66.66667%; }
  .offset-sm-17 {
    margin-left: 70.83333%; }
  .offset-sm-18 {
    margin-left: 75%; }
  .offset-sm-19 {
    margin-left: 79.16667%; }
  .offset-sm-20 {
    margin-left: 83.33333%; }
  .offset-sm-21 {
    margin-left: 87.5%; }
  .offset-sm-22 {
    margin-left: 91.66667%; }
  .offset-sm-23 {
    margin-left: 95.83333%; } }

@media (min-width: 576px) {
  .col-md-hide {
    display: none !important; }
  .col-md-show {
    display: flex !important; }
  .md-hide {
    display: none !important; }
  .md-show {
    display: flex !important; }
  .md-column {
    flex-direction: column;
    flex-basis: auto !important; }
    .md-column > [class*="col"],
    .md-column > [class*="col-"] {
      flex-basis: auto; }
  .md-row {
    flex-direction: row;
    flex-basis: auto !important; }
  .md-compans {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (min-width: 576px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 4.16667%;
    max-width: 4.16667%;
    width: 4.16667%; }
  .col-md-2 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-md-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    width: 12.5%; }
  .col-md-4 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-md-5 {
    flex: 0 0 20.83333%;
    max-width: 20.83333%;
    width: 20.83333%; }
  .col-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%; }
  .col-md-7 {
    flex: 0 0 29.16667%;
    max-width: 29.16667%;
    width: 29.16667%; }
  .col-md-8 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-md-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
    width: 37.5%; }
  .col-md-10 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-md-11 {
    flex: 0 0 45.83333%;
    max-width: 45.83333%;
    width: 45.83333%; }
  .col-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
  .col-md-13 {
    flex: 0 0 54.16667%;
    max-width: 54.16667%;
    width: 54.16667%; }
  .col-md-14 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-md-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
    width: 62.5%; }
  .col-md-16 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-md-17 {
    flex: 0 0 70.83333%;
    max-width: 70.83333%;
    width: 70.83333%; }
  .col-md-18 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%; }
  .col-md-19 {
    flex: 0 0 79.16667%;
    max-width: 79.16667%;
    width: 79.16667%; }
  .col-md-20 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-md-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
    width: 87.5%; }
  .col-md-22 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-md-23 {
    flex: 0 0 95.83333%;
    max-width: 95.83333%;
    width: 95.83333%; }
  .col-md-24 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 25; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .order-md-13 {
    order: 13; }
  .order-md-14 {
    order: 14; }
  .order-md-15 {
    order: 15; }
  .order-md-16 {
    order: 16; }
  .order-md-17 {
    order: 17; }
  .order-md-18 {
    order: 18; }
  .order-md-19 {
    order: 19; }
  .order-md-20 {
    order: 20; }
  .order-md-21 {
    order: 21; }
  .order-md-22 {
    order: 22; }
  .order-md-23 {
    order: 23; }
  .order-md-24 {
    order: 24; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 4.16667%; }
  .offset-md-2 {
    margin-left: 8.33333%; }
  .offset-md-3 {
    margin-left: 12.5%; }
  .offset-md-4 {
    margin-left: 16.66667%; }
  .offset-md-5 {
    margin-left: 20.83333%; }
  .offset-md-6 {
    margin-left: 25%; }
  .offset-md-7 {
    margin-left: 29.16667%; }
  .offset-md-8 {
    margin-left: 33.33333%; }
  .offset-md-9 {
    margin-left: 37.5%; }
  .offset-md-10 {
    margin-left: 41.66667%; }
  .offset-md-11 {
    margin-left: 45.83333%; }
  .offset-md-12 {
    margin-left: 50%; }
  .offset-md-13 {
    margin-left: 54.16667%; }
  .offset-md-14 {
    margin-left: 58.33333%; }
  .offset-md-15 {
    margin-left: 62.5%; }
  .offset-md-16 {
    margin-left: 66.66667%; }
  .offset-md-17 {
    margin-left: 70.83333%; }
  .offset-md-18 {
    margin-left: 75%; }
  .offset-md-19 {
    margin-left: 79.16667%; }
  .offset-md-20 {
    margin-left: 83.33333%; }
  .offset-md-21 {
    margin-left: 87.5%; }
  .offset-md-22 {
    margin-left: 91.66667%; }
  .offset-md-23 {
    margin-left: 95.83333%; } }

@media (min-width: 768px) {
  .col-lg-hide {
    display: none !important; }
  .col-lg-show {
    display: flex !important; }
  .lg-hide {
    display: none !important; }
  .lg-show {
    display: flex !important; }
  .lg-column {
    flex-direction: column;
    flex-basis: auto !important; }
    .lg-column > [class*="col"],
    .lg-column > [class*="col-"] {
      flex-basis: auto; }
  .lg-row {
    flex-direction: row;
    flex-basis: auto !important; }
  .lg-compans {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (min-width: 768px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 4.16667%;
    max-width: 4.16667%;
    width: 4.16667%; }
  .col-lg-2 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-lg-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    width: 12.5%; }
  .col-lg-4 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-lg-5 {
    flex: 0 0 20.83333%;
    max-width: 20.83333%;
    width: 20.83333%; }
  .col-lg-6 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%; }
  .col-lg-7 {
    flex: 0 0 29.16667%;
    max-width: 29.16667%;
    width: 29.16667%; }
  .col-lg-8 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
    width: 37.5%; }
  .col-lg-10 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-lg-11 {
    flex: 0 0 45.83333%;
    max-width: 45.83333%;
    width: 45.83333%; }
  .col-lg-12 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
  .col-lg-13 {
    flex: 0 0 54.16667%;
    max-width: 54.16667%;
    width: 54.16667%; }
  .col-lg-14 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
    width: 62.5%; }
  .col-lg-16 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-lg-17 {
    flex: 0 0 70.83333%;
    max-width: 70.83333%;
    width: 70.83333%; }
  .col-lg-18 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%; }
  .col-lg-19 {
    flex: 0 0 79.16667%;
    max-width: 79.16667%;
    width: 79.16667%; }
  .col-lg-20 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-lg-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
    width: 87.5%; }
  .col-lg-22 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-lg-23 {
    flex: 0 0 95.83333%;
    max-width: 95.83333%;
    width: 95.83333%; }
  .col-lg-24 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 25; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .order-lg-13 {
    order: 13; }
  .order-lg-14 {
    order: 14; }
  .order-lg-15 {
    order: 15; }
  .order-lg-16 {
    order: 16; }
  .order-lg-17 {
    order: 17; }
  .order-lg-18 {
    order: 18; }
  .order-lg-19 {
    order: 19; }
  .order-lg-20 {
    order: 20; }
  .order-lg-21 {
    order: 21; }
  .order-lg-22 {
    order: 22; }
  .order-lg-23 {
    order: 23; }
  .order-lg-24 {
    order: 24; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 4.16667%; }
  .offset-lg-2 {
    margin-left: 8.33333%; }
  .offset-lg-3 {
    margin-left: 12.5%; }
  .offset-lg-4 {
    margin-left: 16.66667%; }
  .offset-lg-5 {
    margin-left: 20.83333%; }
  .offset-lg-6 {
    margin-left: 25%; }
  .offset-lg-7 {
    margin-left: 29.16667%; }
  .offset-lg-8 {
    margin-left: 33.33333%; }
  .offset-lg-9 {
    margin-left: 37.5%; }
  .offset-lg-10 {
    margin-left: 41.66667%; }
  .offset-lg-11 {
    margin-left: 45.83333%; }
  .offset-lg-12 {
    margin-left: 50%; }
  .offset-lg-13 {
    margin-left: 54.16667%; }
  .offset-lg-14 {
    margin-left: 58.33333%; }
  .offset-lg-15 {
    margin-left: 62.5%; }
  .offset-lg-16 {
    margin-left: 66.66667%; }
  .offset-lg-17 {
    margin-left: 70.83333%; }
  .offset-lg-18 {
    margin-left: 75%; }
  .offset-lg-19 {
    margin-left: 79.16667%; }
  .offset-lg-20 {
    margin-left: 83.33333%; }
  .offset-lg-21 {
    margin-left: 87.5%; }
  .offset-lg-22 {
    margin-left: 91.66667%; }
  .offset-lg-23 {
    margin-left: 95.83333%; } }

@media (min-width: 1056px) {
  .col-xl-hide {
    display: none !important; }
  .col-xl-show {
    display: flex !important; }
  .xl-hide {
    display: none !important; }
  .xl-show {
    display: flex !important; }
  .xl-column {
    flex-direction: column;
    flex-basis: auto !important; }
    .xl-column > [class*="col"],
    .xl-column > [class*="col-"] {
      flex-basis: auto; }
  .xl-row {
    flex-direction: row;
    flex-basis: auto !important; }
  .xl-compans {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (min-width: 1056px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 4.16667%;
    max-width: 4.16667%;
    width: 4.16667%; }
  .col-xl-2 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    width: 12.5%; }
  .col-xl-4 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-xl-5 {
    flex: 0 0 20.83333%;
    max-width: 20.83333%;
    width: 20.83333%; }
  .col-xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%; }
  .col-xl-7 {
    flex: 0 0 29.16667%;
    max-width: 29.16667%;
    width: 29.16667%; }
  .col-xl-8 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
    width: 37.5%; }
  .col-xl-10 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-xl-11 {
    flex: 0 0 45.83333%;
    max-width: 45.83333%;
    width: 45.83333%; }
  .col-xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
  .col-xl-13 {
    flex: 0 0 54.16667%;
    max-width: 54.16667%;
    width: 54.16667%; }
  .col-xl-14 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
    width: 62.5%; }
  .col-xl-16 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-xl-17 {
    flex: 0 0 70.83333%;
    max-width: 70.83333%;
    width: 70.83333%; }
  .col-xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%; }
  .col-xl-19 {
    flex: 0 0 79.16667%;
    max-width: 79.16667%;
    width: 79.16667%; }
  .col-xl-20 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
    width: 87.5%; }
  .col-xl-22 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-xl-23 {
    flex: 0 0 95.83333%;
    max-width: 95.83333%;
    width: 95.83333%; }
  .col-xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 25; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .order-xl-13 {
    order: 13; }
  .order-xl-14 {
    order: 14; }
  .order-xl-15 {
    order: 15; }
  .order-xl-16 {
    order: 16; }
  .order-xl-17 {
    order: 17; }
  .order-xl-18 {
    order: 18; }
  .order-xl-19 {
    order: 19; }
  .order-xl-20 {
    order: 20; }
  .order-xl-21 {
    order: 21; }
  .order-xl-22 {
    order: 22; }
  .order-xl-23 {
    order: 23; }
  .order-xl-24 {
    order: 24; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 4.16667%; }
  .offset-xl-2 {
    margin-left: 8.33333%; }
  .offset-xl-3 {
    margin-left: 12.5%; }
  .offset-xl-4 {
    margin-left: 16.66667%; }
  .offset-xl-5 {
    margin-left: 20.83333%; }
  .offset-xl-6 {
    margin-left: 25%; }
  .offset-xl-7 {
    margin-left: 29.16667%; }
  .offset-xl-8 {
    margin-left: 33.33333%; }
  .offset-xl-9 {
    margin-left: 37.5%; }
  .offset-xl-10 {
    margin-left: 41.66667%; }
  .offset-xl-11 {
    margin-left: 45.83333%; }
  .offset-xl-12 {
    margin-left: 50%; }
  .offset-xl-13 {
    margin-left: 54.16667%; }
  .offset-xl-14 {
    margin-left: 58.33333%; }
  .offset-xl-15 {
    margin-left: 62.5%; }
  .offset-xl-16 {
    margin-left: 66.66667%; }
  .offset-xl-17 {
    margin-left: 70.83333%; }
  .offset-xl-18 {
    margin-left: 75%; }
  .offset-xl-19 {
    margin-left: 79.16667%; }
  .offset-xl-20 {
    margin-left: 83.33333%; }
  .offset-xl-21 {
    margin-left: 87.5%; }
  .offset-xl-22 {
    margin-left: 91.66667%; }
  .offset-xl-23 {
    margin-left: 95.83333%; } }

.companse, .compans {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 0; }

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  font-family: "OpenSansSamiBold", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  height: auto;
  padding: 4px 0.875em;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 0px 0px #D64D08, 0px 2px 1px 0px rgba(0, 0, 0, 0.1); }
  .btn i {
    font-size: 0.88em; }
  .btn:hover, .btn:focus, .btn:active, .btn.active {
    cursor: pointer; }
  @media (min-width: 1056px) {
    .btn {
      font-size: 1em; } }

.btn_second {
  color: #fff;
  background-color: #FF6D00;
  border: 2px solid #FF6D00; }
  .btn_second i.fa path, .btn_second svg path {
    fill: #fff; }
  .btn_second:hover, .btn_second:focus, .btn_second.active {
    color: #fff;
    background-color: #FF8124;
    border: 2px solid transparent; }
    .btn_second:hover svg path, .btn_second:focus svg path, .btn_second.active svg path {
      fill: #fff; }
  .btn_second:active {
    color: #fff;
    background-color: rgba(255, 109, 0, 0.8);
    border: 2px solid rgba(255, 109, 0, 0.8); }
    .btn_second:active svg path {
      fill: #fff; }
  .btn_second:hover, .btn_second:focus, .btn_second:active, .btn_second.active {
    box-shadow: 0px 1px 0px 0px #D64D08, 0px 1px 5px 0px rgba(0, 0, 0, 0.1); }

@font-face {
  font-family: 'OpenSans';
  src: url("assets/fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSamiBold';
  src: url("assets/fonts/Open_Sans/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("assets/fonts/Open_Sans/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

form, .form {
  padding-top: 0.3em;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0; }
  form > p, .form > p {
    color: #2196F3;
    text-align: center; }

fieldset, .fieldset, .group {
  border: none;
  padding: 0.35em 0.75em 0.35em;
  margin: 0; }

.group_boolean, .fieldset_boolean {
  margin-bottom: 1.125em !important; }

legend, .legend {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
  margin-left: 15px;
  margin-bottom: 6px;
  text-transform: uppercase; }

label {
  font-family: "OpenSansSamiBold", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333333; }

.field {
  position: relative;
  align-items: stretch;
  flex-direction: row; }
  .field__item {
    width: 100%;
    padding: 10px 10px 8px 10px;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    color: #828282; }
    .field__item option:disabled {
      cursor: not-allowed;
      font-family: "OpenSansSamiBold", Arial, Helvetica, sans-serif;
      color: #333333; }
  .field .select {
    position: relative; }
    .field .select select {
      appearance: none;
      position: relative;
      color: #333333; }
      .field .select select option {
        color: #333333;
        background-color: #fff; }
        .field .select select option:first-child {
          color: #828282; }
    .field .select__arrow {
      position: absolute;
      right: 13px;
      top: 11px;
      color: #4F4F4F; }
    .field .select:hover select, .field .select:focus select, .field .select:active select, .field .select.active select {
      background-color: #F2F2F2; }
    .field .select:hover__arrow, .field .select:focus__arrow, .field .select:active__arrow, .field .select.active__arrow {
      color: #BDBDBD; }
  .field__number {
    flex-direction: row;
    align-items: stretch; }
    .field__number input {
      width: 3.75rem;
      margin-left: 4px;
      margin-right: 4px;
      text-align: center;
      -moz-appearance: textfield;
      appearance: textfield; }
      .field__number input::-webkit-outer-spin-button, .field__number input::-webkit-inner-spin-button {
        display: none;
        appearance: none;
        margin: 0; }
    .field__number button,
    .field__number .btn {
      padding-left: .9rem;
      padding-right: .9rem; }
      .field__number button svg,
      .field__number .btn svg {
        font-size: 12px;
        color: #828282; }
  .field__error-text {
    display: none;
    font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
    color: #c0392b;
    margin-top: 5px; }
  .field__checkbox {
    align-items: center; }
    .field__checkbox label {
      font-family: "OpenSansItalic", Arial, Helvetica, sans-serif;
      font-size: 1rem;
      margin-bottom: 0;
      padding-left: 5px; }

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    margin: 0; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

input[type="checkbox"] + label, input[type="radio"] + label {
  flex-grow: 1;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
  cursor: pointer;
  user-select: none;
  align-items: center; }
  input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {
    background-color: #F1FCFF; }

input[type="checkbox"] + label:before {
  content: '';
  text-align: center;
  text-align: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.65em;
  line-height: 19px;
  width: 19px;
  height: 19px;
  border-radius: 3px;
  margin-right: .5rem;
  background-color: transparent;
  border: 1px solid #D2D5D6;
  transition: all .3; }

input[type="checkbox"]:checked + label:before {
  content: '\f00c';
  color: #2196F3;
  background-color: #F1FCFF;
  border-color: #2196F3; }

input[type="radio"] + label {
  font-family: "OpenSansSamiBold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2196F3;
  width: 100%;
  border: 1px solid #D2D5D6;
  text-align: center; }
  input[type="radio"] + label:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  input[type="radio"] + label:hover {
    background-color: #F2FCFF;
    border-color: #2196F3;
    z-index: 100; }
  input[type="radio"] + label span {
    width: 100%;
    text-align: center; }

.radio:first-child label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -1px; }

.radio:last-child label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -1px; }

input[type="radio"] + label:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.radio-groupe {
  padding-left: 15px;
  padding-right: 15px; }

input[type="radio"]:checked + label {
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
  z-index: 101; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.35em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: block;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.tickets {
  margin-top: 0; }

.ticket {
  margin-bottom: 20px; }
  .ticket:hover, .ticket:focus, .ticket:active, .ticket.active {
    box-shadow: 0px 5px 25px rgba(91, 137, 164, 0.1), 0px 10px 50px -10px rgba(91, 137, 164, 0.25); }
  .ticket__action {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #ECEFF1;
    order: 1; }
    @media (min-width: 576px) {
      .ticket__action {
        order: 0;
        border-top: none;
        border-right: 1px solid #ECEFF1; } }
  .ticket__info {
    padding-top: 20px;
    padding-bottom: 20px;
    order: 0; }
    @media (min-width: 576px) {
      .ticket__info {
        order: 1; } }
    .ticket__info__time {
      font-size: 32px;
      line-height: normal; }
    .ticket__info__name {
      font-size: 12px;
      font-weight: bold; }
    .ticket__info__date {
      font-size: 12px;
      color: #8B9497; }
    .ticket__info__line {
      height: 1px;
      background-color: #D2D5D6;
      width: 60%;
      margin-right: 1px; }
      @media (min-width: 1056px) {
        .ticket__info__line {
          width: 96px; } }
    .ticket__info__stops {
      font-size: 10px;
      font-weight: bold;
      color: #8B9497;
      text-transform: uppercase;
      line-height: 11px; }
  .ticket__carrier {
    padding-bottom: 20px; }
    .ticket__carrier img {
      width: auto;
      height: 30px; }
      @media (min-width: 1056px) {
        .ticket__carrier img {
          height: 35px; } }
    .ticket__carrier > span {
      outline: 1px solid #eee;
      width: 120px;
      height: 35px;
      text-align: center;
      line-height: 35px; }

.mr-auto {
  margin-right: auto !important; }

.ml-auto {
  margin-left: auto !important; }

.color-gray {
  color: #4F4F4F; }

.color-prime {
  color: #2196F3; }

.color-telegram {
  color: #37AEE2; }

.color-whatsapp {
  color: #189D0E; }

.img {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .img img {
    display: flex;
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: auto; }
  .img_h img {
    height: 100%;
    max-height: 100%; }

.show {
  opacity: 1;
  visibility: visible;
  position: relative; }

.hide {
  position: absolute;
  opacity: 0;
  visibility: hidden; }

.block {
  padding-bottom: 10px; }

.no-wrap {
  flex-wrap: nowrap; }

.wrap {
  flex-wrap: wrap; }

.flex_ccc,
.flex-ccc,
.f-ccc {
  justify-content: center;
  align-items: center;
  align-content: center; }

.grow-0 {
  flex-grow: 0; }

.grow-1 {
  flex-grow: 1; }

.grow-2 {
  flex-grow: 2; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.items-stretch {
  align-items: stretch; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.content-stretch {
  align-content: stretch; }

.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.f-nowrap {
  flex-wrap: nowrap; }

.ta-c {
  text-align: center; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.show-grid div {
  outline: 1px solid rgba(86, 61, 124, 0.2); }

.show-grid img {
  outline: 1px solid #d35400; }

.show-grid a {
  outline: 1px solid #f39c12; }

.show-grid span {
  outline: 1px solid #ecf0f1; }

.example .cont {
  padding-top: 20px;
  padding-bottom: 20px; }

.example div {
  outline: 1px solid rgba(86, 61, 124, 0.2); }

.example [class="col"],
.example [class*="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, 0.149);
  outline: 1px solid rgba(86, 61, 124, 0.2); }

.show-elements h1,
.show-elements h2,
.show-elements h3,
.show-elements h4,
.show-elements h5,
.show-elements h6,
.show-elements ol,
.show-elements ul {
  outline: 1px solid #f39c12; }

.show-elements p {
  outline: 1px solid #e74c3c; }

.show-elements a {
  outline: 1px solid #f39c12; }

.thumb {
  color: #777; }
  .thumb__h1, .thumb__h2, .thumb__h3, .thumb__h {
    font-family: "OpenSans", Arial, Helvetica, sans-serif; }
  .thumb__img-270 {
    display: flex;
    width: 270;
    height: 270;
    background-color: #95a5a6;
    margin: 0 auto; }
  .thumb__img-270x50 {
    display: block;
    width: 270px;
    height: 50px;
    background-color: #95a5a6;
    margin: 0 auto; }
  .thumb__img-180 {
    display: flex;
    width: 180;
    height: 180;
    background-color: #95a5a6;
    margin: 0 auto; }
  .thumb__img-120 {
    display: flex;
    width: 120;
    height: 120;
    background-color: #95a5a6;
    margin: 0 auto; }
  .thumb__block {
    margin-top: 10;
    background-color: #ecf0f1;
    padding: 5 10 5 10;
    outline: 1px solid #d3dcde; }

.p0 {
  padding: 0px !important; }

.pt1 {
  padding-top: 1 !important; }

.pt2 {
  padding-top: 2 !important; }

.pt3 {
  padding-top: 3 !important; }

.pt4 {
  padding-top: 4 !important; }

.pr95 {
  padding-right: 95px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb-50 {
  margin-bottom: -50px !important; }

.pt65 {
  padding-top: 65px !important; }

.pr65 {
  padding-right: 65px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pl65 {
  padding-left: 65px !important; }

.mt65 {
  margin-top: 65px !important; }

.mr65 {
  margin-right: 65px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.ml65 {
  margin-left: 65px !important; }

.pt60 {
  padding-top: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.pt55 {
  padding-top: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.pt50 {
  padding-top: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.pt45 {
  padding-top: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.pt40 {
  padding-top: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.pt35 {
  padding-top: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.pt30 {
  padding-top: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.pt25 {
  padding-top: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.pt20 {
  padding-top: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.pt15 {
  padding-top: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.pt10 {
  padding-top: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.pt5 {
  padding-top: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.pt0 {
  padding-top: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.pb1rem {
  padding-bottom: 1rem; }

.pb2rem {
  padding-bottom: 2rem; }

.pb05rem {
  padding-bottom: .5rem; }

.pb-5-rem {
  padding-bottom: 5rem; }

.pt-5-rem {
  padding-top: 5rem; }

.mr-5-rem {
  margin-right: 5rem; }

.ml-5-rem {
  margin-left: 5rem; }

.pb-4-5-rem {
  padding-bottom: 4.5rem; }

.pt-4-5-rem {
  padding-top: 4.5rem; }

.mr-4-5-rem {
  margin-right: 4.5rem; }

.ml-4-5-rem {
  margin-left: 4.5rem; }

.pb-4-rem {
  padding-bottom: 4rem; }

.pt-4-rem {
  padding-top: 4rem; }

.mr-4-rem {
  margin-right: 4rem; }

.ml-4-rem {
  margin-left: 4rem; }

.pb-3-5-rem {
  padding-bottom: 3.5rem; }

.pt-3-5-rem {
  padding-top: 3.5rem; }

.mr-3-5-rem {
  margin-right: 3.5rem; }

.ml-3-5-rem {
  margin-left: 3.5rem; }

.pb-3-rem {
  padding-bottom: 3rem; }

.pt-3-rem {
  padding-top: 3rem; }

.mr-3-rem {
  margin-right: 3rem; }

.ml-3-rem {
  margin-left: 3rem; }

.pb-2-5-rem {
  padding-bottom: 2.5rem; }

.pt-2-5-rem {
  padding-top: 2.5rem; }

.mr-2-5-rem {
  margin-right: 2.5rem; }

.ml-2-5-rem {
  margin-left: 2.5rem; }

.pb-2-rem {
  padding-bottom: 2rem; }

.pt-2-rem {
  padding-top: 2rem; }

.mr-2-rem {
  margin-right: 2rem; }

.ml-2-rem {
  margin-left: 2rem; }

.pb-1-5-rem {
  padding-bottom: 1.5rem; }

.pt-1-5-rem {
  padding-top: 1.5rem; }

.mr-1-5-rem {
  margin-right: 1.5rem; }

.ml-1-5-rem {
  margin-left: 1.5rem; }

.pb-1-rem {
  padding-bottom: 1rem; }

.pt-1-rem {
  padding-top: 1rem; }

.mr-1-rem {
  margin-right: 1rem; }

.ml-1-rem {
  margin-left: 1rem; }

.pb-0-5-rem {
  padding-bottom: 0.5rem; }

.pt-0-5-rem {
  padding-top: 0.5rem; }

.mr-0-5-rem {
  margin-right: 0.5rem; }

.ml-0-5-rem {
  margin-left: 0.5rem; }

* {
  transition: 0.3s ease; }

html {
  font-family: sans-serif;
  line-height: 1.2em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 0.875rem; }
  @media (min-width: 576px) {
    html {
      font-size: 1rem; } }
  @media (min-width: 1056px) {
    html {
      font-size: 1rem; } }

body {
  margin: 0;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #4A4A4A;
  text-align: left; }

#root > div {
  min-height: 100vh;
  flex-shrink: 1; }

.loading {
  width: 100%;
  height: 100%;
  background-color: #f7f4ed;
  justify-content: center;
  align-items: center; }
  .loading span {
    font-size: 2rem; }

.main {
  min-height: 240px;
  padding-top: 1rem; }

#root {
  background-color: #F3F7FA; }

.ticket, .filter {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25); }

.filter {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px; }

.logo {
  padding-top: 40px;
  padding-bottom: 40px; }

.stop-quantity {
  padding-bottom: 6px; }

.radio-groupe {
  padding-top: 3px; }

.currency {
  padding-top: 0px;
  padding-bottom: 1rem; }

.stops:hover, .stops:focus, .stops:active, .stops.active {
  background-color: #F1FCFF; }
  .stops:hover .checkbox__only-btn, .stops:focus .checkbox__only-btn, .stops:active .checkbox__only-btn, .stops.active .checkbox__only-btn {
    opacity: 1;
    visibility: visible; }

.checkbox__only-btn {
  opacity: 0;
  visibility: hidden;
  padding-right: 15px; }
  .checkbox__only-btn:hover, .checkbox__only-btn:focus, .checkbox__only-btn:active, .checkbox__only-btn.active {
    cursor: pointer; }
  .checkbox__only-btn span {
    color: #2196F3;
    font-size: 11px;
    text-transform: uppercase; }
