* {
    transition: 0.3s ease;
}
html {
    font-family: sans-serif; // 2
    line-height: $line-height-base; // 3
    -webkit-text-size-adjust: 100%; // 4
    -ms-text-size-adjust: 100%; // 4
    -ms-overflow-style: scrollbar; // 5
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6

    font-size: $font-size-sm;
    // min-height: 100%;

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
    }

    @include media-breakpoint-only(xl) {
        font-size: $font-size-base;
    }
}
body{
    margin: 0; // 1
    font-family: $font-family-base;
    // font-size: $font-size-base;
    font-weight: normal;
    color: $font-color-base;
    text-align: left; // 3
    // min-height: 100%;
    
    // background-color: $body-bg; // 2
}
#root>div{
    min-height: 100vh;
    flex-shrink: 1;
    // align-items: stretch;
}
.loading{
    @extend %flex;
    width: 100%;
    height: 100%;
    background-color: $color-prime-bg-light;
    justify-content: center;
    align-items: center;
    span{
        // color: $color-prime-bg-light;
        font-size: rem(32);
    }
}

.main {
    min-height: 240px;
    padding-top: 1rem;
    // padding-bottom: 2rem;
}