#root{
    background-color: #F3F7FA;
}

%cover{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(#5B89A4, .25)
}

.filter{
    @extend %cover;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: $grid-gutter;
}

.logo{
    padding-top: 40px;
    padding-bottom: 40px;
}
.stop-quantity{
    padding-bottom: 6px;
}
.radio-groupe{
    padding-top: 3px;
}
.currency{
    padding-top: 0px;
    padding-bottom: 1rem;
}

.stops{
    $root: &;
    @include hover-focus-active{
        background-color: #F1FCFF;
        .checkbox__only-btn{
            opacity: 1;
            visibility: visible;
        }
    }
}

.checkbox__only-btn{
    opacity: 0;
    visibility: hidden;
    padding-right: 15px;
    @extend %flex;
    @include hover-focus-active{
        cursor: pointer;
    }
    span{
        color: $color-prime;
        font-size: 11px;
        text-transform: uppercase;
    }
}