//Special

$basePadding: 1.25rem;

//Grid
$container-horizontal-padding: 10px;

$grid-columns: 24;
$grid-gutter: 20px;

$grid-breakpoints: ( xs: 0, sm: 332px, md: 576px, lg: 768px, xl: 1056px) !default;
$container-max-widths: (sm: 320px, md: 540px, lg: 720px, xl: 1024px) !default;


// Colors
$color-prime:               #2196F3;
$color-second:              #FF6D00;

$color-prime-1:               #F1FCFF;
$color-prime-2:               #3CA56A;
$color-prime-3:               #107A3E;
$color-prime-4:               #005E29;

$color-gray:                #4A4A4A;
$color-gray-light:          #8B9497;

$color-gray-1:              #F2F2F2;
$color-gray-2:              #E0E0E0;
$color-gray-3:              #BDBDBD;
$color-gray-4:              #828282;
$color-gray-5:              #4F4F4F;
$color-gray-6:              #333333;

$color-bg:                  #fafafa;


$color-prime-bg:            #574a40;
$color-prime-bg-2:          #8c8178;
$color-prime-bg-3:          #a49d93;
$color-prime-bg-light:      #f7f4ed;
$color-prime-bg-light-2:    #fcfaf5;

$color-gray-light:          #e2ded9;

$color-turqoise:            #1abc9c;
$color-green_sea:           #16a085;
$color-emerald:             #2ecc71;
$color-nephritis:           #27ae60;
$color-peter-river:         #3498db;
$color-belize-hole:         #2980b9;
$color-amethyst:            #9b59b6;
$color-wisteria:            #8e44ad;
$color-wet-asphalt:         #34495e;
$color-midnight-blue:       #2c3e50;
$color-sun-flower:          #f1c40f;
$color-orange:              #f39c12;
$color-carrot:              #e67e22;
$color-pumpkin:             #d35400;
$color-alizarin:            #e74c3c;
$color-pomegranate:         #c0392b;
$color-clouds:              #ecf0f1;
$color-silver:              #bdc3c7;
$color-concrete:            #95a5a6;
$color-asbestos:            #7f8c8d;

$color-success:             $color-emerald;
$color-info:                $color-peter-river;
$color-warning:             $color-sun-flower;
$color-danger:              $color-pomegranate;


// Spacing
//

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);


//
// Type
//

$fa-font-path:                    "../assets/fontawesome/webfonts";
$ff-fa:                           "Font Awesome 5 Free";

$OpenSans: "OpenSans", Arial, Helvetica, sans-serif;
$OpenSansItalic: "OpenSansItalic", Arial, Helvetica, sans-serif;
$OpenSansSamiBold: "OpenSansSamiBold", Arial, Helvetica, sans-serif;


$font-family-base:                  $OpenSans;
$font-color-base:                   $color-gray;
$font-family-bold:                  $OpenSans;
$ff-bold:                           $OpenSansSamiBold;
$ff-normal:                         $OpenSans;
$ff-medium:                         $OpenSansSamiBold;

$font-size-base:                    1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                      ($font-size-base * 1.125) !default; // 1.125
$font-size-sm:                      ($font-size-base * .875) !default;

$line-height-base:                  1.2em !default;

$h1-font-size:                    $font-size-base * 2 !default;
$h2-font-size:                    $font-size-base * 1.625 !default;
$h3-font-size:                    $font-size-base * 1.375 !default;
$h4-font-size:                    $font-size-base * 1.125 !default;
$h5-font-size:                    $font-size-base !default;
$h6-font-size:                    $font-size-base !default;

$h1-font-size-md:             $h1-font-size;
$h1-margin-top:               0.4em;
$h1-margin-bottom:            0.5em;

$headings-margin-top:         0.4em !default;
$headings-margin-bottom:      0.5em !default;
$headings-font-family:        $OpenSansSamiBold;
$headings-font-weight:        500 !default;
$headings-line-height:        1.4 !default;
$headings-color:              $color-gray-6 !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$paragraph-margin-bottom:       1rem;
$paragraph-line-height:         1.6em;


//
// Buttons
//
$btn-font-family:               $OpenSansSamiBold;
$btn-font-size:                 1em;
$btn-height:                    auto;
$btn-padding:                   4px .875em;
$btn-padding-small:             0.5em 1em;
$btn-b-radius:                  5px;
$btn-border:                    none;